@use '../settings/variables' as *;

@mixin input-focus($color) {
  box-shadow: 0 0 0 .25rem $color;
}

:root[data-bs-theme="light"] .form {
  &-check-input {
    background-color: $white-1000;

    &:focus {
      @include input-focus($blue-200);
    }

    &:checked {
      background-color: $blue-1000;
      border-color: $blue-1000;
    }
  }

  &-control {
    color: $black-1000;
    background-color: $white-1000;

    &::placeholder {
      color: $black-800
    }

    &:focus {
      @include input-focus($red-200);

      border-color: $black-600;
    }
  }
}
