@use '../utils/variables' as *;

@mixin link($size, $color) {
  color: $color;
  border-bottom: solid $size $color;
}

a {
  &.toc-link {
    color: $black-1000;

    &:hover {
      @include link(1.5px, $red-1000);
    }

    &:active {
      color: $red-1000;
      border: none;
    }
  }
}

.growi {
  .wiki {
    a {
      text-decoration: none;

      &:not(.alert-link) {
        @include link(1.5px, $red-1000);

        &:hover {
          @include link(1.5px, $red-900);
        }

        &:active {
          @include link(1.5px, $red-800);
        }

        &:visited {
          @include link(1.5px, $red-1100);
        }
      }
    }
  }
}
