@use '../../settings/variables' as *;

@mixin common {
  border-width: 2px;
  border-radius: 6px;

  @include typography;
}

@mixin typography {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

$prefix: '--bs-btn';

@mixin primary {
  #{$prefix}-color: $white-800;
  #{$prefix}-bg: $red-1000;
  #{$prefix}-border-color: $red-1000;
  #{$prefix}-hover-color: $white-800;
  #{$prefix}-hover-bg: $red-900;
  #{$prefix}-hover-border-color: $red-900;
  #{$prefix}-focus-shadow-rgb: 0, 0, 0, 0;
  #{$prefix}-active-color: $white-800;
  #{$prefix}-active-bg: $red-800;
  #{$prefix}-active-border-color: $red-800;
  #{$prefix}-active-shadow: 0;
  #{$prefix}-disabled-color: $white-800;
  #{$prefix}-disabled-bg: $red-200;
  #{$prefix}-disabled-border-color: $red-200;

  @include common;
}

@mixin secondary {
  #{$prefix}-color: #{$red-1000};
  #{$prefix}-bg: #{$red-100};
  #{$prefix}-border-color: transparent;
  #{$prefix}-hover-color: #{$white-800};
  #{$prefix}-hover-bg: #{$red-900};
  #{$prefix}-hover-border-color: #{$red-900};
  #{$prefix}-focus-shadow-rgb: 0, 0, 0, 0;
  #{$prefix}-active-color: #{$white-800};
  #{$prefix}-active-bg: #{$red-800};
  #{$prefix}-active-border-color: #{$red-800};
  #{$prefix}-active-shadow: 0;
  #{$prefix}-disabled-color: #{$red-200};
  #{$prefix}-disabled-bg: #F5F0F1;
  #{$prefix}-disabled-border-color: #F5F0F1;

  @include common;
}

@mixin outline-primary {
  @include secondary;
  @include common;
}

@mixin outline-secondary {
  #{$prefix}-color: #{$black-1000};
  #{$prefix}-bg: transparent;
  #{$prefix}-border-color: #{$black-1000};
  #{$prefix}-hover-color: var(--bs-body-bg);
  #{$prefix}-hover-bg: #343433;
  #{$prefix}-hover-border-color: #343433;
  #{$prefix}-active-color: var(--bs-body-bg);
  #{$prefix}-active-bg: #474746;
  #{$prefix}-active-border-color: #474746;
  #{$prefix}-active-shadow: 0, 0, 0, 0;
  #{$prefix}-disabled-color: #EFEFEF;
  #{$prefix}-disabled-bg: #BDBDBC;
  #{$prefix}-disabled-border-color: #BDBDBC;

  @include common;
}

@mixin outline-neutral-secondary {
  #{$prefix}-color: #{$black-1000} !important;
  #{$prefix}-bg: transparent !important;
  #{$prefix}-border-color: #{$black-1000} !important;
  #{$prefix}-hover-color: var(--bs-body-bg) !important;
  #{$prefix}-hover-bg: #343433 !important;
  #{$prefix}-hover-border-color: #343433 !important;
  #{$prefix}-active-color: var(--bs-body-bg) !important;
  #{$prefix}-active-bg: #474746 !important;
  #{$prefix}-active-border-color: #474746 !important;
  #{$prefix}-active-shadow: 0, 0, 0, 0 !important;
  #{$prefix}-disabled-color: #EFEFEF !important;
  #{$prefix}-disabled-bg: #BDBDBC !important;
  #{$prefix}-disabled-border-color: #BDBDBC !important;
  padding: .3rem .5rem;

  @include common;
}