@use '../../utils/variables' as *;

$color: #{$black-1000};
$opacity: '10%';

@mixin shadow-100 {
  box-shadow: 0px 6px 15px rgba($color, $opacity);
}

@mixin shadow-200 {
  box-shadow: 0px 12px 22px rgba($color, $opacity);
}

@mixin shadow-300 {
  box-shadow: 0px 34px 24px rgba($color, $opacity);
}

@mixin shadow-400 {
  box-shadow: 0px 40px 45px rgba($color, $opacity);
}
