@use '../atoms/mixins/button' as button;
@use '../utils/variables' as *;

:root[data-bs-theme=light] .nologin {
  // References the image runtime path
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .input-group {
    input {
      color: $black-600;
      background: $white-1000;
      border: solid 1px $black-300
    }
  }

  .btn {
    transition: none;

    &-login {
      @include button.primary;
      width: 100%;
      padding: 1rem 6rem;

      .material-symbols-outlined {
        color: $white-800;
      }

      .flex-grow-1 {
        color: $white-800;
      }
    }

    &-register {
      @include button.primary;
      width: 100%;
      padding: 1rem 6rem;

      .material-symbols-outlined {
        color: $white-800;
      }

      .flex-grow-1 {
        color: $white-800;
      }
    }
  }

  .nologin-header {
    width: 400px;
    // padding: 1.5rem;
    padding-bottom: 30px;
    background: #EFF1F3;

    h1 {
      display: none;
    }
  }

  .nologin-dialog {
    width: 400px;
    padding: 1.5rem;
    background: $white-800;
    box-shadow: 0px 24px 45px 0px rgba(36, 36, 35, 0.23);
  }

  .link-growi-org {
    display: none;
  }
}