@use './theme/hsl-functions' as hsl;
@use './atoms/alert' as *;
@use './atoms/button' as *;
@use './atoms/typography' as *;
@use './atoms/code' as *;
@use './atoms/count-pill-badge' as *;
@use './atoms/dropdown' as *;
@use './atoms/link' as *;
@use './atoms/list-group' as *;
@use './atoms/input' as *;
@use './molecules/page-editor-mode-manager' as *;
@use './molecules/page-view' as *;
@use './molecules/nav' as *;
@use './organisms/sidebar' as *;
@use './pages/login' as *;
@use './utils/variables' as *;
@use './settings/global' as *;
@import 'https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';


// META

/* Regroups native variables that are used across the website */
:root[data-bs-theme="light"] {
  --grw-sidebar-nave-bg: var(--bs-body-color);
  --grw-sidebar-nav-btn-hover-bg: #343433;
  --grw-sidebar-nav-btn-hover-color: #EEEFF2;
  --grw-sidebar-nav-btn-active-color: #EEEFF2;
  --grw-sidebar-nav-btn-active-bg: #474746;
  --grw-highlight-100: var(--primary);
  --bs-body-bg: var(--bgcolor-global);
}

:root[data-bs-theme="light"] {
  --primary: hsl(var(--primary-hs), var(--primary-l)) !important;
  --primary-hs: 345, 91%;
  --primary-l: 48%;
  --secondary: hsl(var(--secondary-hs), var(--secondary-l)) !important;
  --secondary-hs: 208, 7%;
  --secondary-l: var(--bg-color-global)6%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs), var(--bgcolor-global-l));
  --bgcolor-global-hs: 210, 67%;
  --bgcolor-global-l: 99%;
  --bgcolor-card: var(--primary);
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary), 90%)};
  --white-1000: hsl(var(--white-1000-hs), var(--white-1000-l));
  --white-1000-hs: 225, 13%;
  --white-1000-l: 94%;
}

// ADMINISTRATION
:root[data-bs-theme="light"] .admin-page .list-group-item {
  --bs-list-group-active-bg: var(--white-1000);

  &-action {
    --bs-list-group-action-hover-bg: #E5E5E5;
    --bs-list-group-action-active-bg: #DBDBDB;
  }
}

#grw-site-name a {
  color: #FAFCFE;
}