$red-100: #EC0B4319;
$red-200: #EC0B4333;
$red-300: #EC0B434C;
$red-400: #EC0B4366;
$red-500: #EC0B437F;
$red-600: #EC0B4399;
$red-700: #EC0B43B2;
$red-800: #EC0B43CC;
$red-900: #EC0B43E5;
$red-1000: #EC0B43;
$red-1100: #D80E41;

$blue-100: #1A62C619;
$blue-200: #1A62C633;
$blue-300: #1A62C64C;
$blue-400: #1A62C666;
$blue-500: #1A62C67F;
$blue-600: #1A62C699;
$blue-700: #1A62C6B2;
$blue-800: #1A62C6CC;
$blue-900: #1A62C6E5;
$blue-1000: #1A62C6;
$blue-1100: #1B5CB7;

$yellow-100: #F3BE2219;
$yellow-200: #F3BE2233;
$yellow-300: #F3BE224C;
$yellow-400: #F3BE2266;
$yellow-500: #F3BE227F;
$yellow-600: #F3BE2299;
$yellow-700: #F3BE22B2;
$yellow-800: #F3BE22CC;
$yellow-900: #F3BE22E5;
$yellow-1000: #F3BE22;
$yellow-1100: #DEAF23;

$white-800: #FAFCFE;
$white-1000: #FFFFFF;

$black-300: #D7D8D9;
$black-600: #7C7F83;
$black-800: #4F5A69;
$black-900: #39414C;
$black-1000: #242930;