@use '../utils/variables' as *;

:root[data-bs-theme='light'] {
  --grw-sidebar-head-bg: #{$black-1000};
  --grw-sidebar-nav-btn-color: #{$white-800};
  --bs-code-color: #{$white-800};
  --bs-body-color: #{$black-1000};
  --bs-secondary-color: #{$black-1000};
}